{
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"comma-dangle": ["error","never"],
		"no-cond-assign": ["error","always"],
		"no-console": "warn",
		"no-constant-condition": "error",
		"no-control-regex": "error",
		"no-debugger": "error",
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-empty-character-class": "error",
		"no-empty": "error",
		"no-ex-assign": "error",
		"no-extra-boolean-cast": "error",
		"no-extra-semi": "error",
		"no-func-assign": "error",
		"no-invalid-regexp": "error",
		"no-irregular-whitespace": "error",
		"no-negated-in-lhs": "error",
		"no-obj-calls": "error",
		"no-regex-spaces": "error",
		"no-sparse-arrays": "error",
		"no-unreachable": "error",
		"use-isnan": "error",
		"valid-typeof": "error",
		"block-scoped-var": "error",
		"consistent-return": "error",
		"curly": ["error","multi-line"],
		"default-case": "error",
		"dot-notation": ["error",{"allowKeywords":true}],
		"dot-location": ["error","object"],
		"eqeqeq": ["error","smart"],
		"guard-for-in": "error",
		"no-alert": "error",
		"no-caller": "error",
		"no-else-return": "error",
		"no-eq-null": "error",
		"no-eval": "error",
		"no-extend-native": "error",
		"no-extra-bind": "error",
		"no-fallthrough": 1,
		"no-floating-decimal": "error",
		"no-implicit-coercion": ["error",{"boolean":true,"number":true,"string":true}],
		"no-implied-eval": "error",
		"no-invalid-this": "error",
		"no-iterator": "error",
		"no-labels": "error",
		"no-lone-blocks": "error",
		"no-loop-func": "error",
		"no-multi-spaces": "error",
		"no-multi-str": "error",
		"no-native-reassign": "error",
		"no-new-func": "error",
		"no-new-wrappers": "error",
		"no-new": "error",
		"no-octal-escape": "error",
		"no-octal": "error",
		"no-param-reassign": ["error",{"props":true}],
		"no-process-env": "error",
		"no-proto": "error",
		"no-redeclare": ["error",{"builtinGlobals":true}],
		"no-return-assign": ["error","always"],
		"no-script-url": "error",
		"no-self-compare": "error",
		"no-sequences": "error",
		"no-throw-literal": "error",
		"no-unused-expressions": "error",
		"no-useless-call": "error",
		"no-void": "error",
		"no-warning-comments": [1,{"terms":["TODO","FIXME"],"location":"anywhere"}],
		"no-with": "error",
		"radix": "error",
		"wrap-iife": ["error","inside"],
		"yoda": ["error","never",{}],
		"strict": ["error","global"],
		"no-catch-shadow": "error",
		"no-delete-var": "error",
		"no-label-var": "error",
		"no-shadow-restricted-names": "error",
		"no-shadow": ["error",{"builtinGlobals":true,"hoist":"all"}],
		"no-undef-init": "error",
		"no-unused-vars": 1,
		"no-use-before-define": ["error",{ "functions": false, "classes": false }],
		"no-mixed-spaces-and-tabs": ["error","smart-tabs"],
		"no-multiple-empty-lines": ["error",{"max":1}],
		"no-nested-ternary": "error",
		"no-trailing-spaces": "error",
		"no-underscore-dangle": "error",
		"no-unneeded-ternary": "error",
		"object-curly-spacing": ["error","always",{"arraysInObjects":true,"objectsInObjects":true}],
		"operator-assignment": ["error","always"],
		"operator-linebreak": ["error","before"],
		"padded-blocks": ["error","never"],
		"quotes": ["error","single"],
		"semi": ["error","never"],
		"space-before-blocks": ["error","always"],
		"space-before-function-paren": ["error","never"],
		"space-in-parens": ["error","never"],
		"space-infix-ops": "error",
		"spaced-comment": ["error","always",{}],
		"wrap-regex": "error",
		"arrow-spacing": ["error",{"before":true,"after":true}],
		"constructor-super": "error"
	}
}
